
<div id="contenedor">
    
  <div class="login_box">
     <div class="box">
        <a id="c_loginbox"><i class="icon-close2"></i></a>
        <h3>Ingrese a su cuenta</h3>
        <form method="post" action="https://verpornocasero.com/wp-login.php">
           <fieldset class="user"><input type="text" name="log" placeholder="Usuario"></fieldset>
           <fieldset class="password"><input type="password" name="pwd" placeholder="Contrase&ntilde;a"></fieldset>
           <label><input name="rememberme" type="checkbox" id="rememberme" value="forever"> Recu&eacute;rdame</label>
           <fieldset class="submit"><input type="submit" value="Iniciar sesi&oacute;n"></fieldset>
           <a class="register" href="https://verpornocasero.com/cuenta/?action=sign-in">Registre una nueva cuenta</a> <label><a class="pteks" href="https://verpornocasero.com/wp-login.php?action=lostpassword">&iquest;Perdiste tu contrase&ntilde;a?</a></label> <input type="hidden" name="redirect_to" value="https://verpornocasero.com/">
        </form>
     </div>
  </div>
  <div class="module">
     <div class="content">
        <div id="slider-movies-tvshows" class="animation-1 slider">
           <article class="item" id="post-76">
              <div class="image">
                 <a [routerLink]="['/itemVideo', topService.Cod1]">
                  <img [src]="topService.Img1" alt="..."></a>
                 <a [routerLink]="['/itemVideo', topService.Cod1]">
                    <div class="data">
                       <h3 class="title">{{topService.Titulo1}}</h3>
                       <span>{{topService.Fecha1}}</span>
                    </div>
                 </a>
                 <span class="item_type">Pel&iacute;cula</span>
              </div>
           </article>
           <article class="item" id="post-76">
              <div class="image">
                 <a [routerLink]="['/itemVideo', topService.Cod2]">
                  <img [src]="topService.Img2" alt="..."></a>
                 <a [routerLink]="['/itemVideo', topService.Cod2]">
                    <div class="data">
                       <h3 class="title">{{topService.Titulo2}}</h3>
                       <span>{{topService.Fecha2}}</span>
                    </div>
                 </a>
                 <span class="item_type">Pel&iacute;cula</span>
              </div>
           </article>
           <article class="item" id="post-76">
              <div class="image">
                 <a [routerLink]="['/itemVideo', topService.Cod3]">
                  <img [src]="topService.Img3" alt="..."></a>
                 <a [routerLink]="['/itemVideo', topService.Cod3]">
                    <div class="data">
                       <h3 class="title">{{topService.Titulo3}}</h3>
                       <span>{{topService.Fecha3}}</span>
                    </div>
                 </a>
                 <span class="item_type">Pel&iacute;cula</span>
              </div>
           </article>
           <article class="item" id="post-76">
              <div class="image">
                 <a [routerLink]="['/itemVideo', topService.Cod4]">
                  <img [src]="topService.Img4" alt="..."></a>
                 <a [routerLink]="['/itemVideo', topService.Cod4]">
                    <div class="data">
                       <h3 class="title">{{topService.Titulo4}}</h3>
                       <span>{{topService.Fecha4}}</span>
                    </div>
                 </a>
                 <span class="item_type">Pel&iacute;cula</span>
              </div>
           </article>
           <article class="item" id="post-76">
              <div class="image">
                 <a [routerLink]="['/itemVideo', topService.Cod5]">
                  <img [src]="topService.Img5" alt="..."></a>
                 <a [routerLink]="['/itemVideo', topService.Cod5]">
                    <div class="data">
                       <h3 class="title">{{topService.Titulo5}}</h3>
                       <span>{{topService.Fecha5}}</span>
                    </div>
                 </a>
                 <span class="item_type">Pel&iacute;cula</span>
              </div>
           </article>
           <article class="item" id="post-76">
              <div class="image">
                 <a [routerLink]="['/itemVideo', topService.Cod6]">
                  <img [src]="topService.Img6" alt="..."></a>
                 <a [routerLink]="['/itemVideo', topService.Cod6]">
                    <div class="data">
                       <h3 class="title">{{topService.Titulo6}}</h3>
                       <span>{{topService.Fecha6}}</span>
                    </div>
                 </a>
                 <span class="item_type">Pel&iacute;cula</span>
              </div>
           </article>
           <article class="item" id="post-76">
              <div class="image">
                 <a [routerLink]="['/itemVideo', topService.Cod7]">
                  <img [src]="topService.Img7" alt="..."></a>
                 <a [routerLink]="['/itemVideo', topService.Cod7]">
                    <div class="data">
                       <h3 class="title">{{topService.Titulo7}}</h3>
                       <span>{{topService.Fecha7}}</span>
                    </div>
                 </a>
                 <span class="item_type">Pel&iacute;cula</span>
              </div>
           </article>
        </div>
        <div class="module_home_ads">
           <div id="nativeAds_1540315644168"></div>
           <script>(function() {var script = document.createElement("script");script.async = false;script.src = "//plug.plufdsb.com/wdgt/?PRT=ZGl2PTE1NDAzMTU2NDQxNjgmY2ZmPSZmZj1BcmlhbCZjZnQ9JmZmdD1BcmlhbCZicmM9MDAwMDAwJmliY2g9MDAwMDAwJmZjPWZmZmZmZiZodGM9YjNiM2IzJmRiPTQmYz05MDAmcGQ9MCZpdz00JmJyPTAmZnN6PTEyJmZzdD0yMCZjaD0yJmZjdD0wMDAwMDAmaXluPTEmaXQ9bGFuZCZzdD0wJnRhPWxlZnQmdGl0bGVsZW5ndGg9ZnVsbCZ0cD0xJmJ0Yz0wMDAwMDAmZGVjPXVuZGVybGluZSZmdz1ib2xkJnd0PUEmc2V4dWFsX29yaWVudGF0aW9uPXN0cmFpZ2h0Jm51ZGVfc3RhdGU9Ym90aCZ3aWRnZXRfcmVzcG9uc2l2ZT0xJnBvcHVuZGVyPTAmY3VzdG9tY3NzPSZ0YWdzMD1hbWF0ZXVyJnBiZGQ9MCZwYnA9dG9wJnBiYT1yaWdodCZ3dGRkPTEmd3R2PUxhcyB3ZWJjYW1zIGNlcmNhIGEgdGkuJmZ3dD1ib2xkJnNpdGVsaW5rPTA=&source=&aff_sub=https://t.frtyi.com/811zwgh1ts?aff_id=75969&offer_id=5125&bo=2779,2778,2777,2776,3391&aff_sub2=&aff_sub3=&aff_sub4=&aff_sub5=&fid=75969&file_id=326372";var dst = document.getElementsByTagName("script")[0];dst.parentNode.insertBefore(script, dst);})();</script>
        </div>
        <header>
           <h2>Videos recientes</h2>
           
           <span>{{recienService.recientesV.length}} <a href="https://verpornocasero.com/ver/" class="see-all">Ver todo</a></span>
        </header>
         <!-- loader -->
      <div align="center" *ngIf="recienService.cargando">
          <h2>Cargando</h2>
             <!-- 1 -->
    <div class="loader loader--style1" title="0">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
        <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
          s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
          c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
        <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
          C22.32,8.481,24.301,9.057,26.013,10.047z">
          <animateTransform attributeType="xml"
            attributeName="transform"
            type="rotate"
            from="0 20 20"
            to="360 20 20"
            dur="0.5s"
            repeatCount="indefinite"/>
          </path>
        </svg>
      </div>
          <p>
            Espere por favor
          </p>
        </div>
      <!-- fin loader -->
        <div *ngIf="!recienService.cargando" class="items" >
           <article *ngFor="let reciente of recienService.recientesV" id="post-133" class="item movies">
              <div class="poster">
                 <img [src]="reciente.Img" alt="...">
                 <div class="rating"><span class="icon-star2"></span> </div>
                 <div class="mepo"> <span class="quality">HD</span></div>
                 <a [routerLink]="['/itemVideo', reciente.Cod]">
                    <div class="see"></div>
                 </a>
              </div>
              <div class="data">
                 <h3>
                   <a href="">{{reciente.Titulo}}</a></h3>
                 <span>&nbsp;</span> <span>&nbsp;</span>
              </div>
           </article>
        </div>
        <div id="slider-movies" class="animation-1 slider">
           <article class="item" id="post-94">
              <div class="image">
                 <a [routerLink]="['/itemVideo', topService.Cod8]">
                  <img [src]="topService.Img8" alt="...></a>
                 <a [routerLink]="['/itemVideo', topService.Cod8]">
                    <div class="data">
                       <h3 class="title">{{topService.Titulo8}}</h3>
                       <span>{{topService.Fecha8}}</span>
                    </div>
                 </a>
                 <span class="item_type">Pel&iacute;cula</span>
              </div>
           </article>
           <article class="item" id="post-34">
              <div class="image">
                 <a [routerLink]="['/itemVideo', topService.Cod9]">
                  <img [src]="topService.Img9" alt="..."></a>
                 <a [routerLink]="['/itemVideo', topService.Cod9]">
                    <div class="data">
                       <h3 class="title">{{topService.Titulo9}}</h3>
                       <span>{{topService.Fecha9}}</span>
                    </div>
                 </a>
                 <span class="item_type">Pel&iacute;cula</span>
              </div>
           </article>
           <article class="item" id="post-63">
              <div class="image">
                 <a [routerLink]="['/itemVideo', topService.Cod10]">
                  <img [src]="topService.Img10" alt="..."></a>
                 <a [routerLink]="['/itemVideo', topService.Cod10]">
                    <div class="data">
                       <h3 class="title">{{topService.Titulo10}}</h3>
                       <span>{{topService.Fecha10}}</span>
                    </div>
                 </a>
                 <span class="item_type">Pel&iacute;cula</span>
              </div>
           </article>
           <article class="item" id="post-57">
              <div class="image">
                 <a [routerLink]="['/itemVideo', topService.Cod11]">
                  <img [src]="topService.Img11" alt="..."></a>
                 <a [routerLink]="['/itemVideo', topService.Cod11]">
                    <div class="data">
                       <h3 class="title">{{topService.Titulo11}}</h3>
                       <span>{{topService.Fecha11}}</span>
                    </div>
                 </a>
                 <span class="item_type">Pel&iacute;cula</span>
              </div>
           </article>
           <article class="item" id="post-17">
              <div class="image">
                 <a [routerLink]="['/itemVideo', topService.Cod12]">
                  <img [src]="topService.Img12" alt="..."></a>
                 <a [routerLink]="['/itemVideo', topService.Cod12]">
                    <div class="data">
                       <h3 class="title">{{topService.Titulo12}}</h3>
                       <span>{{topService.Fecha12}}</span>
                    </div>
                 </a>
                 <span class="item_type">Pel&iacute;cula</span>
              </div>
           </article>
           <article class="item" id="post-72">
              <div class="image">
                 <a [routerLink]="['/itemVideo', topService.Cod13]">
                  <img [src]="topService.Img13" alt="..."></a>
                 <a [routerLink]="['/itemVideo', topService.Cod13]">
                    <div class="data">
                       <h3 class="title">{{topService.Titulo13}}</h3>
                       <span>{{topService.Fecha13}}</span>
                    </div>
                 </a>
                 <span class="item_type">Pel&iacute;cula</span>
              </div>
           </article>
           <article class="item" id="post-65">
              <div class="image">
                 <a [routerLink]="['/itemVideo', topService.Cod14]">
                  <img [src]="topService.Img14" alt="..."></a>
                 <a [routerLink]="['/itemVideo', topService.Cod14]">
                    <div class="data">
                       <h3 class="title">{{topService.Titulo14}}</h3>
                       <span>{{topService.Fecha14}}</span>
                    </div>
                 </a>
                 <span class="item_type">Pel&iacute;cula</span>
              </div>
           </article>
        </div>
     </div>
     <div class="sidebar scrolling">
        <div class="fixed-sidebar-blank">
           <aside id="custom_html-2" class="widget_text widget widget_custom_html">
              <div class="textwidget custom-html-widget">
                 <div style="text-align:center">
                    <a href="https://t.frtyi.com/811zwgh1ts?aff_id=75969&amp;offer_id=5125&amp;bo=2779,2778,2777,2776,3391" target="_blank">
                       <img class="lazy lazy-hidden" border="0" alt="chatea con conocidas de tu ciudad" 
                       src="assets/img/publicidad.jpg" 
                       data-lazy-type="image"
                        data-src="assets/img/publicidad.jpg">
                       <noscript><img border="0" alt="chatea con conocidas de tu ciudad" src="assets/img/publicidad.jpg"></noscript>
                    </a>
                 </div>
              </div>
           </aside>
           <aside id="custom_html-5" class="widget_text widget widget_custom_html">
              <div class="textwidget custom-html-widget">
                 <div id="nativeAds_1540315955732"></div>
                 <script>
                  (function() {var script = document.createElement("script");script.async = false;script.src = "//plug.plufdsb.com/wdgt/?PRT=ZGl2PTE1NDAzMTU5NTU3MzImY2ZmPSZmZj1BcmlhbCZjZnQ9JmZmdD1BcmlhbCZicmM9MDAwMDAwJmliY2g9MDAwMDAwJmZjPTAwMDAwMCZodGM9MDAwMDAwJmRiPTImYz0zMTUmcGQ9MCZpdz0xJmJyPTAmZnN6PTEyJmZzdD0xNiZjaD0yJmZjdD0wMDAwMDAmaXluPTEmaXQ9bGFuZCZzdD0wJnRhPWxlZnQmdGl0bGVsZW5ndGg9ZnVsbCZ0cD0yJmJ0Yz0wMDAwMDAmZGVjPXVuZGVybGluZSZmdz1ib2xkJnd0PUEmc2V4dWFsX29yaWVudGF0aW9uPXN0cmFpZ2h0Jm51ZGVfc3RhdGU9Ym90aCZ3aWRnZXRfcmVzcG9uc2l2ZT0xJnBvcHVuZGVyPTAmY3VzdG9tY3NzPSZ0YWdzMD1ibG93am9iJnBiZGQ9MCZwYnA9dG9wJnBiYT1yaWdodCZ3dGRkPTAmd3R2PVlvdSBtYXkgYWxzbyBsaWtlJmZ3dD1ib2xkJnNpdGVsaW5rPTA=&source=&aff_sub=&aff_sub2=&aff_sub3=&aff_sub4=&aff_sub5=&fid=75969&file_id=326378";var dst = document.getElementsByTagName("script")[0];dst.parentNode.insertBefore(script, dst);})();
                 </script>
              </div>
           </aside>
           <aside id="dtw_content_views-3" class="widget doothemes_widget">
              <h2 class="widget-title">Lo mas visto</h2>
              <div class="dtw_content dt_views_count">
                 <article *ngFor="let masv of masvistosService.masvistos" class="w_item_a" id="post-19">
                    <a  [routerLink]="['/itemVideo', masv.Cod]">
                       <div class="image">
                          <img class="lazy lazy-hidden"  [src]="masv.Img" alt="SE PONE DEMASIADO CALIENTE ANTES DEL GIMNASIO">
                          <noscript><img [src]="masv.Img" alt="SE PONE DEMASIADO CALIENTE ANTES DEL GIMNASIO" /></noscript>
                          <div class="data">
                             <h3>{{masv.Titulo}}</h3>
                          </div>
                          <span class="quality">HD</span>
                       </div>
                    </a>
                 </article>
              </div>
           </aside>
        </div>
     </div>
  </div>
</div>
